{% load static %}

<nav class="navbar navbar-expand-lg navbar-light static-top" style="background-color: #fcf7bb">
  <div class="container">
  <a class="navbar-brand" href="/">
    <img id="crossroads-logo" src="{% static 'img/crossroads.png' %}"></img>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/services">Sermons & Devotions<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About us</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/our-beliefs">Our beliefs</a>
          <a class="dropdown-item" href="/sunday-gatherings">Sunday gatherings</a>
          <a class="dropdown-item" href="/personal-stories">Personal stories</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if request.user.is_authenticated %}
          <a class="dropdown-item" href="#">Offering</a>
          <a class="dropdown-item" href="#">Pastoral Search</a>
          {% endif %}
          <a class="dropdown-item" href="#">Church calendar</a>
          {% if not request.user.is_authenticated %}
          <a class="dropdown-item" href="#">Become a member</a>
          {% endif %}
          <a class="dropdown-item" href="#">Become a Christian</a>
          <a class="dropdown-item" href="#">Blog</a>
          <a class="dropdown-item" href="#">Devotional reading</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Connecting</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!--
          <a class="dropdown-item" href="/prayer-requests">Prayer requests</a>
          <a class="dropdown-item" href="#">Parents Supporting Parents</a>
          <a class="dropdown-item" href="#">Children's programs</a>
          <a class="dropdown-item" href="#">Gym night</a>
            -->
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact us</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Church office</a>
          <a class="dropdown-item" href="#">Church directions</a>
        </div>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user }}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/profile">Profile</a>
          <a class="dropdown-item" href="/logout">Log out<span class="sr-only">(current)</span></a>
        </div>
      </li>
      {% else %}
      <li class="nav-item active">
          <a class="nav-link" href="/login">Log in<span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
    </ul>
  </div>
  </div>
</nav>
