PORT=8000

# DD agent
DD_API_KEY=
DD_APM_ENABLED=true
DD_LOGS_ENABLED=true
DD_CONTAINER_EXCLUDE="name:dev_datadog"
DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL=true
DD_LOG_LEVEL=INFO

# DD client
DATADOG_TRACE_AGENT_HOSTNAME=docker.for.mac.host.internal
DD_ENV=dev
DD_LOGS_INJECTION=true
DD_SERVICE_NAME=crossroads-web
DD_TRACE_ANALYTICS_ENABLED=true
DD_TRACE_ASYNCIO_ENABLED=true
DD_DJANGO_CACHE_SERVICE_NAME=crossroads-cache
DD_DJANGO_DATABASE_SERVICE=crossroads-web
DD_DJANGO_INSTRUMENT_DATABASES=false
DD_DJANGO_USE_HANDLER_RESOURCE_FORMAT=true
DD_SQLITE_SERVICE=crossroads-db

POSTMARK_API_KEY=
