version: '3.7'

# Override the default docker-compose.yml with dev settings
services:
  app:
    environment:
      - POSTMARK_API_KEY=

  nginx:
    # Edit 8000 to your desired port
    ports:
      - 8000:80

  datadog:
    environment:
      - DD_API_KEY=
