version: '3.7'

# Override the default docker-compose.yml with dev settings
services:
  app:
    environment:
      - POSTMARK_API_KEY=

  web:
    build:
      context: .
      dockerfile: ./docker/web/Dockerfile
    # Note that we want to match this port with the
    # port used by nginx so that the JS that the
    # webpack dev server sends to the browser will
    # be proxied through nginx.
    # Else we get a CORS error.
    command: yarn run dev --host 0.0.0.0 --port 8000

  nginx:
    # Edit 8000 to your desired port
    ports:
      - 8000:80

  datadog:
    environment:
      - DD_API_KEY=
