<div class="card" style="">
  <div class="card-body">
    <h5 class="card-title">{{ value.title }}</h5>
    {% if value.date %}
    <h6 class="card-subtitle">{{ value.date }}</h6>
    {% endif %}
    <p class="card-text">
      {{ value.body }}
    </p>
  </div>
  {% if value.contact_name %}
  <div class="card-footer">
    <p class="card-text">
      Contact {{ value.contact_name }}
      {% if value.contact_email or value.contact_phone %}
        at <a href="mailto:{{ value.contact_email }}"> {{ value.contact_email }} </a>
        {% if value.contact_email and value.contact_phone %}
          or
        {% endif %}
        {{ value.contact_phone }}
      {% endif %}
        for more detail.
    </p>
  </div>
{% endif %}
</div>
