{% extends "base.html" %}
{% load chat_tags prayer_tags %}
{% load wagtailcore_tags %}
{% load octicons %}
{% load comments %}

{% block content %}
<div class="container" style="padding-left: 2rem; padding-right: 2rem;">
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date }}</p>
{% if request.user.is_authenticated %}
<div class="row" style="min-height: 500px;">
  <div class="col-12 col-md-5" style="padding-right: 5px">
    <div class="embed-responsive embed-responsive-1by1" style="min-height: 500px;">
      <iframe class="embed-responsive-item" src="{{page.video_link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </div>
  <div class="col-12 col-md-7" style="min-height: 400px; padding-left: 10px;">
  {{ page.content|richtext }}
  </div>
</div>
{% endif %}

<div class="container mt-3">
{% if user.is_authenticated %}
  {% render_comments_list_for self.pk %}
{% endif %}
</div>
</div>
{% endblock %}
