{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load comments %}

{% block content %}
<div class="container" style="padding-left: 2rem; padding-right: 2rem;">
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date }}</p>
<div class="row" style="min-height: 500px;">
  <div class="col-12 col-md-6" style="min-height: 400px; padding-right: 5px;">
  {{ page.content|richtext }}
  </div>
  <div class="col-12 col-md-6" style="padding-left: 10px">
    {% if page.video_link %}
    <div class="embed-responsive embed-responsive-1by1" style="min-height: 400px;">
      <iframe class="embed-responsive-item" src="{{page.video_link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    {% endif %}
    {% if page.reflection %}
      <h2>Reflection</h2>
      {{ page.reflection|richtext }}
    {% endif %}
  </div>
</div>
<div class="container mt-3">
{% if user.is_authenticated %}
  {% render_comments_list_for self.pk %}
{% endif %}
</div>
</div>
{% endblock %}
