{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<style>
</style>
{% endblock extra_css %}

{% block content %}
<div class="container">
  <h1 style="margin-bottom: 3rem">Our beliefs</h1>
  <div class="row featurette">
    <div class="col-md-5 f-center">
      <h2 class="featurette-heading">We believe in God<span class="text-muted"></span></h2>
    </div>
    <div class="col-md-7">
      <p class="lead">
        Do you believe that there is a God? We do! This is a core conviction, one that shapes our whole way of living and thinking. We are not alone. Most people believe in ‘God’ in some way. We believe that God is personal and powerful, and certainly beyond our ability to understand or explain Him. We believe that He created the world for us to enjoy with Him, and that He created it good, perfect! We urge you to think long and hard about this, because if there is a God, it will have huge implications for you – and for everyone!
      </p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5 order-md-2 f-center">
      <h2 class="featurette-heading float-right">We believe in the Bible<span class="text-muted"></span></h2>
    </div>
    <div class="col-md-7 order-md-1">
      <p class="lead">
        This book is amazing. Written over a period of 1500 years, yet all its chapters tell one story – from creation, to the fall into sin, to God’s rescue operation, and ultimately to the new (restored) creation. We believe that this book, though written in the language and culture of specific historical periods, remains the unfailing message of God for all people, revealing His will and His way to true life and joy! We believe that the Bible is meant to be followed, and that we must continuously reform our lives according to its direction.
      </p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5 f-center">
      <h2 class="featurette-heading">We believe in sin<span class="text-muted"></span></h2>
    </div>
    <div class="col-md-7">
      <p class="lead">
        By this we mean that we believe there is something terribly wrong in the world, and terribly wrong in us. This is not the world as God created it! All people, including you and us, have spiritual heart problems – we are selfish and self-centered to the core – and this explains why despite our best efforts, we cannot make this world a better place. Until we are ready to admit this, we are not ready to get the help we so desperately need. And we will continue to wander through life… lost!
      </p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5 order-md-2 f-center">
      <h2 class="featurette-heading float-right">We believe in Jesus Christ<span class="text-muted"></span></h2>
    </div>
    <div class="col-md-7 order-md-1">
      <p class="lead">
        We believe that Jesus Christ – who lived on earth 2000 years ago – was the Son of God in human flesh, Who came to save us from sin, death and hell, and to help us find our way back to God! We believe that He modeled perfectly the life that God originally designed us to live. We believe that His sacrificial death removed the death penalty hanging over our heads. We believe that He was resurrected to life, and now by the Spirit living in us, we too can be restored to new life – everlasting life! And we believe that the only way for you to experience and enjoy this is by admitting your sin, believing in Jesus, and committing yourself to living life with Him!
      </p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5 f-center">
      <h2 class="featurette-heading">We believe in Eternal Life… and Eternal Death<span class="text-muted"></span></h2>
    </div>
    <div class="col-md-7">
      <p class="lead">
        Although we don’t know the specifics, we do believe that all people are heading in one of two directions, either towards God (and eternal life) or away from God (and eternal death). This is not a cruel joke, nor is it God’s way of getting revenge. We are responsible for the direction of our lives. God is constantly calling us, inviting us to eternal life with Him; warning us of the consequences of rejecting Him. He doesn’t want us to perish – He sent His Son to rescue us – but in the end, if we refuse to respond, we get what we asked for. Yes, “hell” is ultimately getting what we wanted – eternal life without God.
      </p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5 order-md-2 f-center">
      <h2 class="featurette-heading float-right">We believe in the Church<span class="text-muted"></span></h2>
    </div>
    <div class="col-md-7 order-md-1">
      <p class="lead">
        Yes, we know, the church has had a very poor track record through history. But we believe in the Church as God intended it to be – just like Jesus! The church is supposed to carry on where Jesus left off – serving people in their need, calling them to return to God, sacrificing themselves for the good of their neighbour, putting God first in the daily details of life, and being used by God to miraculously bless people! Granted, this is not what the church has been like – but we are committed to being God’s kind of Church
      </p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5 f-center">
      <h2 class="featurette-heading">We believe in You!<span class="text-muted"></span></h2>
    </div>
    <div class="col-md-7">
      <p class="lead">
        This is not some kind of positive thinking mumbo jumbo. We believe that you are a sinner, that you need God’s help, that you need Jesus Christ to be forgiven and restored to God’s family. But we also believe that you are God’s child, that with God in your life, you are a gifted and important member of the human race. God can do amazing things through you, if you surrender your life to Him! He wants you to make a difference in the world! Can you imagine what this world would be like if people actually started living like God wanted them to, like Jesus did? God is prepared to do this in you… are you?
      </p>
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="container">
    <p class="lead">
    Crossroads belongs to the Christian Reformed Church in North America. You can find a summary of their beliefs <a href="https://www.crcna.org/welcome/beliefs">here</a>.
    </p>
  </div>
</div>
{% endblock %}
