{% extends "base.html" %}
{% load prayer_tags %}
{% load wagtailcore_tags %}
{% load octicons %}

{% block content %}
<div class="container" style="margin-bottom: 70px">
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date }}</p>

<nav class="navbar fixed-bottom navbar-light bg-light">
  {% for section in page.mediasec %}
    {{ section }}
  {% endfor %}
</nav>

{% if request.user.is_authenticated %}
  {% for section in page.bulletin %}
    {{ section }}
  {% endfor %}
  <hr/>
  <h2 id="prayer-requests">Prayer</h2>
  {% prayer_requests prayer_requests=prs service_page=self.pk %}
  <hr/>
{% endif %}

{% for section in page.service %}
  {% include_block section with page=page id=section.id %}
  <hr/>
{% endfor %}

</div>
{% endblock %}
