<form class="">
    <div class="form-row">
        <div class="col-md-6">
            <label for="viewers">Number of viewers:</label>
            <label id="viewers"></label>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            <label for="chat-message-input-{{chat_id}}">Chat</label>
            <div id="chat-log-{{chat_id}}" class="form-control" style="overflow-y: scroll; word-break: break-all; height: 300px"></div>
        </div>
        <div class="col-md-6">
            <label for="chat-log-pr-{{chat_id}}">Prayer Requests/Praise</label>
            <div id="chat-log-pr-{{chat_id}}" class="form-control" style="overflow-y: scroll; word-break: break-all; height: 300px"></div>
        </div>
    </div>
    <div id="username-form" class="form-group">
        <label for="chat-message-input-{{chat_id}}">Enter a username</label>
        <input id="chat-author-input-{{chat_id}}" class="form-control" type="text" required>
        <br>
        <button id="username-btn" class="btn btn-primary" type="button">
            Submit
        </button>
    </div>

    <div id="message-form" class="form-group" style="display:none">
        <label for="chat-message-input-{{chat_id}}">Chat</label>
        <input id="chat-message-input-{{chat_id}}" class="form-control" type="text">
        <br>
        <button id="chat-message-submit-{{chat_id}}" class="btn btn-primary" type="button">
            Send
        </button>
        <button id="chat-message-submit-pr-{{chat_id}}" class="btn btn-warning" type="button">
            Send as prayer request/praise
        </button>
    </div>
</form>
{{ chat_id|json_script:"chat-id" }}
<script>
    String.prototype.hashCode = function () {
        var hash = 0;
        for (var i = 0; i < this.length; i++) {
            var character = this.charCodeAt(i);
            hash = ((hash << 5) - hash) + character;
            hash = hash & hash; // Convert to 32bit integer
        }
        return hash;
    };
    colours = [
        "#00ffff",
        "#000000",
        "#0000ff",
        "#a52a2a",
        "#00ffff",
        "#00008b",
        "#008b8b",
        "#006400",
        "#bdb76b",
        "#8b008b",
        "#556b2f",
        "#ff8c00",
        "#9932cc",
        "#8b0000",
        "#9400d3",
        "#008000",
        "#4b0082",
        "#808000",
        "#ffa500",
        "#ffc0cb",
        "#800080",
        "#800080",
        "#ff0000",
        "#ffff00"
    ];

    function colour(str) {
        return colours[Math.abs(str.hashCode()) % (colours.length-1)];
    }

    const chatId = JSON.parse(document.getElementById('chat-id').textContent);

    const chatSocket = new ReconnectingWebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + chatId
        + '/'
    );

    function addMessage(log, author, body) {
        var msg = document.createElement('div');
        msg.classList += "mb-2";
        var elauthor = document.createElement('span');
        elauthor.innerHTML = author;
        elauthor.style.color = colour(author);
        elauthor.style.fontWeight = 'bold';
        var elbody = document.createElement('span');
        elbody.innerHTML = ':  ' + body;
        msg.appendChild(elauthor);
        msg.appendChild(elbody);
        log.append(msg);
    };

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const log = document.querySelector('#chat-log-{{chat_id}}');
        const logpr = document.querySelector('#chat-log-pr-{{chat_id}}');

        if (data.type === "chat_message") {
            if (data.kind == "chat") {
                addMessage(log, data.author, data.body);
            }
            else if (data.kind == "pr") {
                addMessage(logpr, data.author, data.body);
            }
        }
        else if (data.type === "chat_init") {
            for (var i = 0; i < data.msgs.length; ++i) {
                if (data.msgs[i].kind === "pr") {
                    addMessage(logpr, data.msgs[i].author, data.msgs[i].body);
                } else {
                    addMessage(log, data.msgs[i].author, data.msgs[i].body);
                }
            }
        }
        else if (data.type == "count_update") {
            document.querySelector('#viewers').innerHTML = data.count;
        }
        else if (data.type == "user_connect") {
            addMessage(log, data.author, '  connected!');
        }
        else if (data.type == "user_disconnect") {
            addMessage(log, data.author, ' . disconnected!');
        }

        // scroll the textarea to the bottom
        log.scrollTop = log.scrollHeight;
        logpr.scrollTop = logpr.scrollHeight;
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input-{{chat_id}}').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit-{{chat_id}}').click();
        }
    };

    document.querySelector('#chat-author-input-{{chat_id}}').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#username-btn').click();
        }
    };

    function sendMessage(kind) {
        const messageInputDom = document.querySelector('#chat-message-input-{{chat_id}}');
        const authorInputDom = document.querySelector('#chat-author-input-{{chat_id}}');
        const body = messageInputDom.value;
        const author = authorInputDom.value;
        chatSocket.send(JSON.stringify({
            'type': 'chat',
            'kind': kind,
            'body': body,
            'author': author
        }));
        messageInputDom.value = '';
    };

    document.querySelector('#chat-message-submit-{{chat_id}}').onclick = function (e) {
        sendMessage("chat");
    };


    document.querySelector('#chat-message-submit-pr-{{chat_id}}').onclick = function (e) {
        sendMessage("pr");
    };

    document.querySelector('#username-btn').onclick = function (e) {
        document.querySelector('#message-form').style.display = "";
        document.querySelector('#username-form').style.display = "none";
        document.querySelector('#chat-message-input-{{chat_id}}').focus();
        const authorInputDom = document.querySelector('#chat-author-input-{{chat_id}}');
        const author = authorInputDom.value;
        chatSocket.send(JSON.stringify({
            'type': 'username',
            'author': author
        }));
    };
</script>
