<script type="text/x-template" id="chat-message-template">
  <div class="card" @mouseover="hover=true" @mouseleave="hover=false" v-bind:style="{
    fontSize: '14px',
    backgroundColor: backgroundColor,
    borderWidth: '0px 0px 1px 0px',
    borderRadius: 'unset'
  }">
    <div class="float-right" style="height: 1px;">
        {% if user.is_chatmod %}
        <div class="dropdown float-right d-inline-block" style="margin-right: 5px; margin-top: 5px; cursor: pointer; width: 20px;">
        <div class="dropdown-toggle" id="pr{{forloop.counter}}dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </div>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="pr{{forloop.counter}}dropdown">
            <a class="dropdown-item" v-on:click="$emit('toggle-pr', $props.id)">
                <template v-if="type === 'pr'">Remove #prayerrequest tag</template>
                <template v-else>Tag as #prayerrequest</template>
            </a>
        </div>
        </div>
        {% endif %}
        <span v-for="emoji in emojis" class="float-right" v-bind:style="{
            cursor: 'pointer',
            filter: 'grayscale(100%)',
            paddingTop: '3px',
            paddingRight: '5px',
            fontSize: '1rem',
            display: hover ? '' : 'none'
          }" v-on:click="onReact(emoji)">[[emoji]]</span>
    </div>
    <div class="card-body" style="padding: 0.15rem 1.5rem 0rem 0.25rem;">
        <span v-bind:style="{
            color: colour(author),
        }">[[author]]</span>
        <span style="color: grey;">[[datefmt(date)]]</span>
        <br>
        <div style="font-size: 1rem; margin-bottom: 3px;">
          <span style="">[[body]]</span>
        </div>
        <footer class="" style="font-size: 14px; margin-bottom: 5px;">
          <a
            v-for="(r, emoji) in reacts"
            style="cursor: pointer;"
            v-on:click="onReact(emoji)"
          >
          <popper
            trigger="hover"
            :options="{
                placement: 'right',
                modifiers: {
                },
            }">
              <div class="popper" style="">
                <template v-for="reactor in r.reactors">
                  <span>[[reactor]]</span><br>
                </template>
              </div>
              <div slot="reference" style="display: inherit;border: 1px solid rgba(0,0,0,.125);border-radius: 6px">
                  <span class="ml-1">[[ emoji ]]</span>
                  <span class="mr-1" v-if="r.count > 0" v-bind:style="{
                      color: hasReacted(emoji) ? '#007bff' : 'black'
                  }">[[ r.count ]]</span>
              </div>
            </popper>
          </a>
        </footer>
    </div>
  </div>
</script>
<div id="chatapp" v-cloak class="d-flex flex-column h-100">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#chat" role="tab" aria-selected="true" v-on:click="changeTab('chat')">Chat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#pr" role="tab" aria-selected="false" v-on:click="changeTab('pr')">Prayer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#q" role="tab" aria-selected="false" v-on:click="changeTab('q')">Q&A</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#viewers" role="tab" aria-selected="false" v-on:click="view='viewers'">Users ([[ numViewers ]])</a>
    </li>
  </ul>
  <div id="chat-log-{{chat_id}}" class="row form-control flex-grow-1" style="overflow-y: scroll; word-break: break-word; font-size: 14px; padding: 0px;">
    <template v-if="view==='viewers'">
        <div v-if="view==='viewers'" v-for="user in users" style="font-size: 1rem; font-weight: bold;">
            <span>[[ user.username ]] ([[ user.count ]])</span>
        </div>
    </template>
    <chat-message
        v-for="msg in displaymessages"
        v-bind:emojis="['🙏', '🙌', '🤣']"
        v-bind:id="msg.id"
        v-bind:type="getType(msg)"
        v-bind:author="msg.author"
        v-bind:body="msg.body"
        v-bind:date="msg.created_at"
        v-bind:reacts="getReacts(msg)"
        @react="react"
        @toggle-pr="togglePR"
    ></chat-message>
  </div>
  <div class="row">
    {% if user.username != "guest" %}
    <button class="btn btn-info form-control" type="button" v-on:click="popupClick" v-bind:style="{
        display: showNewPopup ? 'block' : 'none'
    }">Scroll down to see new messages! 🙂</button>
    <input id="chat-message-input-{{chat_id}}" class="form-control" type="text" autocomplete="off" placeholder="Type your message here" v-model="message" v-on:keyup.enter="send">
    <button class="btn btn-primary form-control" type="button" v-on:click="send">Send</button>
    {% else %}
    <span>Hi and welcome to Crossroads! Please contact <a href="mailto:kyle.verhoog@crossroadsinajax.org">kyle.verhoog@crossroadsinajax.org</a> to be added to the site 😊.</span>
    {% endif %}
  </div>
</div>
{{ chat_id|json_script:"chat-id" }}
<script>
    String.prototype.hashCode = function () {
        var hash = 0;
        for (var i = 0; i < this.length; i++) {
            var character = this.charCodeAt(i);
            hash = ((hash << 5) - hash) + character;
            hash = hash & hash; // Convert to 32bit integer
        }
        return hash;
    };
    colours = [
        '#00ffff',
        '#000000',
        '#0000ff',
        '#a52a2a',
        '#00ffff',
        '#00008b',
        '#008b8b',
        '#006400',
        '#bdb76b',
        '#8b008b',
        '#556b2f',
        '#ff8c00',
        '#9932cc',
        '#8b0000',
        '#9400d3',
        '#008000',
        '#4b0082',
        '#808000',
        '#ffa500',
        '#ffc0cb',
        '#800080',
        '#800080',
        '#ff0000',
        '#ffff00'
    ];

    Vue.component('chat-message', {
        props: ['id', 'type', 'author', 'body', 'date', 'emojis', 'reacts'],
        delimiters: ['[[', ']]'],
        data: function() {
            return {
                hover: false
            };
        },
        components: {
            'popper': VuePopper
        },
        computed: {
            emojis: function() {
                return this.$props.emojis.reverse();
            },
            backgroundColor: function() {
                var type = this.$props.type;
                if ( type === 'chat' ) {
                    return '';
                }
                else if ( type === 'pr' ) {
                    return '#f6efe2';
                }
                else if ( type === 'q' ) {
                    return '#d2f8d2';
                }
                return '';
            }
        },
        methods: {
            hasReacted: function(emoji) {
                var username = '{{ user.username }}';
                var reacts = this.$props.reacts;
                return emoji in reacts && reacts[emoji].reactors.includes(username);
            },
            colour: function(str) {
                return colours[Math.abs(str.hashCode()) % (colours.length-1)];
            },
            datefmt: function(sec) {
                var now = moment();
                var ts = moment.unix(sec);
                if ( now.day() != ts.day() ) {
                    return ts.format('DD/MM/YY hh:mma');
                }
                return moment.unix(sec).format('hh:mma');
            },
            onReact: function(emoji) {
                this.$emit('react', this.$props.id, emoji);
            }
        },
        template: '#chat-message-template'
    });

    var chatId = JSON.parse(document.getElementById('chat-id').textContent);

    var chatApp = new Vue({
        el: '#chatapp',
        delimiters: ['[[', ']]'],
        data: {
            messages: [],
            users: [],
            message: '',
            updateType: '',
            view: window.location.hash.substr(1) || 'chat',
            prevShowNewPopup: false
        },
        methods: {
            fmtTooltip: function(reactors) {
                return reactors.join(', ');
            },
            changeTab: function(view) {
                this.view = view;
                this.updateType = 'change_tab';
            },
            popupClick: function() {
                this.prevShowNewPopup = false;
                var log = document.querySelector('#chat-log-{{chat_id}}');
                log.scrollTop = log.scrollHeight;
            },
            togglePR: function(id) {
                chatSocket.send(JSON.stringify({
                    'type': 'chat.toggle_pr',
                    'msg_id': id
                }));
            },
            getType: function(msg) {
                if ( msg.tags.includes('pr') ) {
                    return 'pr';
                }
                else if ( msg.tags.includes('q') ) {
                    return 'q';
                }
                else {
                    return 'chat';
                }
            },
            getReacts: function(msg) {
                return msg.reacts;
            },
            colour: function(str) {
                return colours[Math.abs(str.hashCode()) % (colours.length-1)];
            },
            react: function(id, emoji) {
                chatSocket.send(JSON.stringify({
                    'type': 'chat.react',
                    'msg_id': id,
                    'react': emoji
                }));
            },
            send: function() {
                var body = this.message;
                if (!body) {
                    return;
                }
                if ( this.view === 'pr' ) {
                    body += ' #prayerrequest';
                }
                else if ( this.view === 'q' ) {
                    body += ' #q';
                }
                chatSocket.send(JSON.stringify({
                    'type': 'chat.message',
                    'body': body
                }));
                this.message = '';
            }
        },
        computed: {
            numViewers: function() {
                return this.users.reduce(function(acc, x) {
                    return acc + x.count;
                }, 0);
            },
            displaymessages: function() {
                if ( this.view === 'chat' ) {
                    return this.messages;
                }
                else if ( this.view === 'pr' ) {
                    return this.messages.filter(function(x) {
                        return x.tags.includes('pr');
                    });
                }
                else if ( this.view === 'q' ) {
                    return this.messages.filter(function(x) {
                        return x.tags.includes('q');
                    });
                }
                else if ( this.view === 'viewers' ) {
                    return [];
                }
                return this.messages;
            },
            showNewPopup: function() {
                if ( this.updateType !== 'chat.message' ) {
                    return this.prevShowNewPopup;
                }
                var log = document.querySelector('#chat-log-{{chat_id}}');

                if ( log.scrollTop + 50*16 < log.scrollHeight ) {
                    this.prevShowNewPopup = true;
                    return true;
                }
                this.prevShowNewPopup = false;
                return false;
            }
        },
        updated: function() {
            var t = this.updateType;
            if ( t === 'chat.users_update' ) {
            }
            else if ( t === 'chat.message' || t === 'chat.message_update' ) {
                var log = document.querySelector('#chat-log-{{chat_id}}');
                // a message is about 50 pixels
                if ( log ) {
                    if ( log.scrollTop + 50*16 < log.scrollHeight ) {
                    }
                    else {
                        log.scrollTop = log.scrollHeight;
                    }
                }
            }
            else if ( t === 'chat.init' || t === 'change_tab' ) {
                var log = document.querySelector('#chat-log-{{chat_id}}');
                log.scrollTop = log.scrollHeight;
            }
            this.updateType = "";
        }
    });

    var socket = window.socket;

    socket.register('chat', function (event) {
        chatApp.updateType = event.type;

        if ( event.type === 'chat.message' ) {
            chatApp.messages.push(event);
        }
        else if ( event.type === 'chat.init' ) {
            chatApp.messages.splice(0, chatApp.messages.length);
            for (var i = 0; i < event.chat.messages.length; ++i) {
                chatApp.messages.push(event.chat.messages[i]);
            }
        }
        else if ( event.type == 'chat.message_update' ) {
            var index;
            for ( index = 0; index < chatApp.messages.length; index++ )
                if ( chatApp.messages[index].id === event['msg_id'] )
                    break;
            Vue.set(chatApp.messages, index, event);
        }
        else if ( event.type == 'chat.users_update' ) {
            chatApp.users.splice(0, chatApp.users.length);
            for ( var i = 0; i < event.users.length; ++i ) {
                chatApp.users.push(event.users[i]);
            }
        }
    });
</script>
