<div id="chatapp" v-cloak class="d-flex flex-column h-100">
  <span><b>[[ nviewers ]]</b> people are here right now</span>
  <div id="chat-log-{{chat_id}}" class="row form-control flex-grow-1" style="overflow-y: scroll; word-break: break-word; font-size: 14px;">
    <div v-for="(msg, i) in messages" v-bind:key="i" class="mb-1">
      <div class="card">
          <div class="float-right" style="height: 1px;">
            <div class="dropdown float-right d-inline-block" style="margin-right: 5px; margin-top: 5px; cursor: pointer; width: 20px;">
              <div class="dropdown-toggle" id="pr{{forloop.counter}}dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="">
              </div>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="pr{{forloop.counter}}dropdown">
                  <a class="dropdown-item" href="">Make prayer request</a>
              </div>
            </div>
          </div>
          <div class="card-body" style="padding: 0.25rem 1.5rem 0rem 0.25rem;">
            <span v-bind:style="{
                color: colour(msg.author),
                fontWeight: 'bold'
            }">[[ msg.author ]]</span><span>:</span>
            <span>[[ msg.body ]]</span>
            <footer class="" style="font-size:14px">
              <span style="color: grey;">[[ datefmt(msg.created_at) ]]</span>
              <a v-for="r in msg.reacts" v-bind:style="{
                filter: r[1] == 0 ? 'grayscale(100%)' : 'none',
                cursor: 'pointer',
              }">
                <span class="" v-on:click="react(r[0], msg.id)" >[[ r[0] ]]</span><span class="mr-2" v-if="r[1] > 0">[[ r[1] ]]</span>
              </a>
            </footer>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <input id="chat-message-input-{{chat_id}}" class="form-control" type="text" autocomplete="off" placeholder="Type your message here" v-model="message" v-on:keyup.enter="send">
    <button class="btn btn-primary form-control" type="button" v-on:click="send">Send</button>
  </div>
</div>
{{ chat_id|json_script:"chat-id" }}
<script>
    document.querySelector('#chat-message-input-{{chat_id}}').focus();

    String.prototype.hashCode = function () {
        var hash = 0;
        for (var i = 0; i < this.length; i++) {
            var character = this.charCodeAt(i);
            hash = ((hash << 5) - hash) + character;
            hash = hash & hash; // Convert to 32bit integer
        }
        return hash;
    };
    colours = [
        "#00ffff",
        "#000000",
        "#0000ff",
        "#a52a2a",
        "#00ffff",
        "#00008b",
        "#008b8b",
        "#006400",
        "#bdb76b",
        "#8b008b",
        "#556b2f",
        "#ff8c00",
        "#9932cc",
        "#8b0000",
        "#9400d3",
        "#008000",
        "#4b0082",
        "#808000",
        "#ffa500",
        "#ffc0cb",
        "#800080",
        "#800080",
        "#ff0000",
        "#ffff00"
    ];

    const chatId = JSON.parse(document.getElementById('chat-id').textContent);
    const chatSocket = new ReconnectingWebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + chatId
        + '/'
    );

    var chatApp = new Vue({
        el: "#chatapp",
        delimiters: ['[[', ']]'],
        data: {
            nviewers: 0,
            messages: [],
            message: ""
        },
        methods: {
            datefmt: function(sec) {
                const now = moment();
                const ts = moment.unix(sec);
                if ( now.day() != ts.day() ) {
                    return ts.format("DD/MM/YYYY");
                }
                return moment.unix(sec).format("hh:mma");
            },
            colour: function(str) {
                return colours[Math.abs(str.hashCode()) % (colours.length-1)];
            },
            react: function(react, msgId) {
                chatSocket.send(JSON.stringify({
                    'type': 'chat_react',
                    'msg_id': msgId,
                    'react': react
                }));
            },
            send: function() {
                const body = this.message;
                if (!body) {
                    return;
                }
                chatSocket.send(JSON.stringify({
                    'type': 'chat_message',
                    'body': body
                }));
                this.message = '';
            }
        },
        computed: {

        },
        updated: function() {
            const log = document.querySelector('#chat-log-{{chat_id}}');
            log.scrollTop = log.scrollHeight;
        }
    });

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);

        if (data.type === "chat_message") {
            chatApp.messages.push(data);
        }
        else if (data.type === "chat_init") {
            chatApp.messages.splice(0, chatApp.messages.length);
            for (var i = 0; i < data.msgs.length; ++i) {
                chatApp.messages.push(data.msgs[i]);
            }
        }
        else if (data.type == "chat_message_update") {
            var index;
            for (index = 0; index < chatApp.messages.length; index++)
                if ( chatApp.messages[index].id === data["msg_id"] )
                    break;
            Vue.set(chatApp.messages, index, data);
        }
        else if (data.type == "count_update") {
            chatApp.nviewers = data.count;
        }
        else if (data.type == "user_connect") {
            data.body = "connected!"
            chatApp.messages.push(data);
        }
        else if (data.type == "user_disconnect") {
            data.body = "disconnected!"
            chatApp.messages.push(data);
        }
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };
</script>
