{% load filters static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-4.3.1.min.css' %}">

{% if pr_id %}
<form action="{% url 'edit-prayer-request' pr_id %}" method="post">
{% else %}
<form action="{% url 'edit-prayer-request' %}" method="post">
{% endif %}
  {% csrf_token %}
  <div class="form-group">
    {{ form.body|addclass:"form-control" }}
    <div class="form-row">
      <div class="col-md-4 mb-2">
        {{ form.body_visibility.label_tag }}{{ form.body_visibility|addclass:"form-control" }}
      </div>
      <div class="col-md-4 mb-2">
        {{ form.provided_name.label_tag }}{{ form.provided_name|addclass:"form-control" }}
      </div>
    </div>
    <input type="hidden" name="next" value="{{ redirect }}">
    {% if pr.state == pr.STATE_ANSWERED %}
      {{ form.note|addclass:"form-control" }}
    {% endif %}
    <input class="form-control btn btn-primary" type="submit" value="Submit">
  </div>
</form>
