{% load filters %}

<form action="{% url 'create-prayer-request' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    {{ form.body|addclass:"form-control" }}
    <div class="form-row">
      <div class="col-md-4 mb-2">
        {{ form.body_visibility.label_tag }}{{ form.body_visibility|addclass:"form-control" }}
      </div>
      <div class="col-md-4 mb-2">
        {{ form.provided_name.label_tag }}{{ form.provided_name|addclass:"form-control" }}
      </div>
    </div>
    <input class="form-control btn btn-primary" type="submit" value="Submit">
  </div>
</form>
