<style>
.emoji-btn {
  padding: 0px !important;
}
.active-emoji {
}
.inactive-emoji {
  filter: grayscale(100%);
}
</style>

<div id="prayer-requests" class="card-columns">
{% for pr in prayer_requests %}
  <div class="card">
      <div class="float-right">
        <div class="dropdown float-right d-inline-block" style="margin-right: 5px; margin-top: 5px; cursor: pointer; width: 20px;">
          <div class="dropdown-toggle" id="pr{{forloop.counter}}dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="">
          </div>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="pr{{forloop.counter}}dropdown">
            {% if service_page %}
              <a class="dropdown-item" href="{% url 'rm-pr-from-service' pr_id=pr.pk sp_id=self.pk %}">Remove from service</a>
            {% else %}
              <a class="dropdown-item" href="{% url 'add-pr-to-next-service' pr_id=pr.pk %}">Add to next service</a>
            {% endif %}
            {% if pr.state == pr.STATE_ACTIVE %}
              <a class="dropdown-item" href="{% url 'mv-to-jar-prayer-request' pr_id=pr.pk %}">Move to prayer jar</a>
            {% elif pr.state == pr.STATE_ANSWERED %}
              <a class="dropdown-item" href="{% url 'rm-from-jar-prayer-request' pr_id=pr.pk %}">Remove from jar</a>
            {% endif %}
            {% if pr.author == request.user %}
            <a class="dropdown-item" href="{% url 'edit-prayer-request' pr_id=pr.pk %}?redirect={{request.path}}">Edit</a>
              <a class="dropdown-item" href="{% url 'delete-prayer-request' pr_id=pr.pk %}">Delete</a>
            {% endif %}
          </div>
        </div>
      </div>
    <div class="card-body">
      <p class="card-text">{{ pr.body }}</p>
      <footer class="">
        <a class="btn emoji-btn" role="button" href="{% url 'prayer-request-react' pr_id=pr.pk emoji='🙏' %}">
        {% if pr.prayer_react_count %}
          <span class="">🙏 &nbsp;{{ pr.prayer_react_count }}</span>
        {% else %}
          <span class="inactive-emoji">🙏</span>
        {% endif %}
        </a>
        <a class="btn emoji-btn" role="button" href="{% url 'prayer-request-react' pr_id=pr.pk emoji='🙌' %}">
        {% if pr.praise_react_count %}
        <span class="ml-2">🙌 &nbsp;{{ pr.praise_react_count }}</span>
        {% else %}
        <span class="ml-2 inactive-emoji">🙌</span>
        {% endif %}
        </a>
      {% if pr.provided_name %}
        <small class="text-muted float-right">-- {{ pr.provided_name }}</small>
      {% endif %}
      </footer>
      {% if pr.note and pr.state == pr.STATE_ANSWERED %}
        <hr/>
        <p>{{pr.note}}</p>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
