{% load filters %}
{% load octicons %}
<style>
.media {
  border-left: 1px dotted #000;
  border-bottom: 1px dotted #000;
  border-top: 1px dotted #000;
  margin-bottom: 5px;
  padding-left: 10px;
}
.comment-meta {
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
}
</style>

<form action="{% url 'create-comment' thread_id %}" method="post">
  {% csrf_token %}
  <div class="form-row">
    {{ form.body.label_tag}}{{ form.body|addclass:"form-control" }}
    <input class="form-control btn btn-primary" type="submit" value="Post">
  </div>
</form>

{% for el in html %}
  {% if el != "end" %}
<div id="comment{{el.pk}}" class="media">
  <div class="panel-collapse in" id="collapseComment{{el.pk}}">
    <div class="media-body">
      <button class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#collapseComment{{el.pk}}" aria-expanded="true" aria-controls="collapseExample">
        {% octicon "dash" %}
    </button>
    <span class="label label-info"></span> {{ el.author }} {{ el.created_at }}
      <p>{{el.body}}</p>
      <div class="comment-meta">
        <span><a href="#">delete</a></span>
        <span>
          <a role="button" data-toggle="collapse" href="#replyComment{{el.pk}}" aria-expanded="false" aria-controls="collapseExample">reply</a>
        </span>
        <div class="collapse" id="replyComment{{el.pk}}">
          <form action="{% url 'create-comment' thread_id el.pk %}" method="post">
            {% csrf_token %}
            <div class="form-row">
              {{ form.body.label_tag}}{{ form.body|addclass:"form-control" }}
              <input class="form-control btn btn-primary" type="submit" value="Post">
            </div>
          </form>
        </div>
      </div>
  {% else %}
    </div>
  </div>
</div>
  {% endif %}
{% endfor %}
