{% load filters %}
{% load octicons %}
<style>
.media {
  border-left: 1px dotted #000;
  border-bottom: 1px dotted #000;
  border-top: 1px dotted #000;
  margin-bottom: 5px;
  padding-left: 10px;
}
.comment-meta {
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
}
</style>

<form action="{% url 'create-comment' thread_id %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    {{ form.body|addclass:"form-control mb-2" }}
    <input class="form-control btn btn-primary" type="submit" value="Post">
  </div>
</form>

{% for el in html %}
  {% if el != "end" %}
<div id="comment{{el.pk}}" class="media">
  <div class="media-body">
    <div class="muted">
      <a href="#collapseComment{{el.pk}}" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseComment{{el.pk}}">
        {% octicon "dash" %}
      </a>
      <a class="m-1">{{el.author}}</a>
      <span class="text-muted m-1">{{ el.created_at }}</span>
    </div>
    <div class="panel-collapse collapse show" id="collapseComment{{el.pk}}">
      <p class="ml-3">{{el.body}}</p>
      <div class="comment-meta">
        <div class="mb-1">
          {% if user == el.author %}
            <span><a href="{% url 'delete-comment' el.pk %}" class="ml-3">delete</a></span>
          {% endif %}
          <span>
            <a href="#replyComment{{el.pk}}" class="m-2" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">reply</a>
          </span>
        </div>
        <div class="collapse" id="replyComment{{el.pk}}">
          <form action="{% url 'create-comment' thread_id el.pk %}" method="post">
            {% csrf_token %}
            <div class="form-row">
              {{ form.body|addclass:"form-control" }}
              <input class="form-control btn btn-primary" type="submit" value="Post">
            </div>
          </form>
        </div>
      </div>
  {% else %}
    </div>
  </div>
</div>
  {% endif %}
{% endfor %}
